#Eclipse
.project
.settings
.classpath

# Intellij
*.idea
*.iml
*.iws

#VSCode
.vscode

# Maven
target
.flattened-pom.xml

# Gauge
.gauge
build
logs
reports
snapshot
tmp
/examples/beam/data/default/wordcount/output.csv
